body {
  font-family: "Hind Siliguri", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

#color-1 {
  background: #c3d7e6;
}

#color-2 {
  background: #000000;
}

#color-3 {
  background: #2f80ed;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.overflow-hidden {
  overflow: hidden;
}

._container {
  padding: 0px 20px;
  margin: 0px auto;
  max-width: 1140px;
}

.subtitle-red {
  letter-spacing: 0.145em;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #c72535;
  opacity: 0.6;
}

.subtitle-black {
  font-weight: 600;
  font-size: 44px;
  line-height: 44px;
  text-align: center;
  color: #030d15;
}

.subtitle-2 {
  display: inline-block;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 41px;
  line-height: 41px;
  background: #dff1ff;
  color: #247cc0;
}

.subtitle-3 {
  padding: 0px 10px;
  font-weight: 400;
  font-size: 41px;
  line-height: 53px;
}

.dropdown {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .dropdown {
    margin: 0px auto 30px auto;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dropdown__dropbtn {
  color: #030d15;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.dropdown__dropbtn img {
  margin-bottom: 3px;
  margin-left: 8px;
}

.dropdown__content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 3;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px #f1f1f1;
          box-shadow: 2px 2px 5px #f1f1f1;
}

.dropdown__content a {
  color: #030d15;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 23px;
}

@media screen and (max-width: 768px) {
  .dropdown__content {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dropdown__content a {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown__content {
    display: block;
  }
  .dropdown:hover .dropdown__content a {
    color: black;
  }
  .dropdown:hover .dropdown__dropbtn img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .header-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
}

.ico-button {
  margin-left: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header {
  position: relative;
  padding: 0px 20px;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  width: auto;
  width: calc(100% - 40px);
}

.header__logo {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__menu {
    background-color: #fff;
    z-index: 2;
    margin: 0px;
    top: 90px;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 90px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .header__menu_active {
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    visibility: visible;
  }
}

.header__mid-section {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin: 0px 30px;
}

@media screen and (max-width: 768px) {
  .header__mid-section {
    position: unset;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0px;
            flex: 0 1 0;
    margin: 0;
  }
}

.header__search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.header__search-input {
  padding-bottom: 4px;
  width: 100%;
  outline: none;
  font-family: Hind Siliguri;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  border: 0;
  border-bottom: 1px solid black;
}

.header__searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  visibility: visible;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

@media screen and (max-width: 768px) {
  .header__searchbar {
    top: 70px;
    width: calc(100% - 40px) !important;
    -webkit-transition: visibility 0.1s;
    transition: visibility 0.1s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    padding: 0px 20px 0px 20px;
  }
}

.header__searchbar_inactive {
  width: 0%;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .header__searchbar_inactive {
    -webkit-transition: visibility 0s;
    transition: visibility 0s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
}

@media screen and (max-width: 768px) {
  .header__service {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__search-ico {
  margin: 0;
}

.header__shopping-cart {
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__user-ico {
  height: 16px;
  width: 14px;
  margin: auto;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #f4f9fc;
}

@media screen and (max-width: 768px) {
  .header__user {
    display: none;
  }
}

.header__user-mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__user-mob {
    margin: 0px auto 30px auto;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__user-mob a {
    text-decoration: none;
    color: #030d15;
  }
}

.header__shopping-ico {
  height: 18px;
  width: 18px;
}

.header__counter {
  left: 10px;
  top: -7px;
  margin: 0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 10px;
  height: 6px;
  width: 6px;
  padding: 5px;
  border-radius: 50%;
  background-color: #c72535;
}

.header__burger-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__burger-btn {
    display: block;
  }
}

.about-shop {
  padding-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 980px) {
  .about-shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-shop__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 980px) {
  .about-shop__text {
    margin-right: 0;
  }
}

.about-shop__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.about-shop__image img {
  width: 100%;
  margin-bottom: -8px;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-shop__title {
  display: block;
}

@media screen and (max-width: 980px) {
  .about-shop__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-shop__description {
  margin-top: 20px;
  padding: 0px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #030d15;
  opacity: 0.6;
}

.about-shop__shop-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

@media screen and (max-width: 768px) {
  .about-shop__shop-now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0px 20px 0px;
  }
}

.about-shop__price-product {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #030d15;
}

@media screen and (max-width: 768px) {
  .about-shop__price-product {
    margin: 10px 0px 0px 0px;
  }
}

.about-shop__price-product span {
  margin-left: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}

.about-shop__subtitle-red {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .about-shop__subtitle {
    text-align: center;
  }
}

.blue-button {
  cursor: pointer;
  outline: none;
  border: 0;
  width: 151px;
  height: 58px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  background: #247cc0;
  color: #ffffff;
}

.blue-button:hover {
  background: #3c89c5;
  border: 1px solid #ffffff;
}

.favorite-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  min-height: 238px;
  left: 230px;
  top: 718px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.19008px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
          box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.19008px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
  border-radius: 0px;
}

.favorite-brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorite-brands__item img {
  padding: 15px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.favorite-brands__item img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.recommended {
  padding-top: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 980px) {
  .recommended {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.recommended__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  height: 248px;
}

@media screen and (max-width: 768px) {
  .recommended__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

@media screen and (max-width: 980px) {
  .recommended__item {
    max-width: 580px;
  }
}

.recommended__item_left {
  margin-right: 25px;
}

@media screen and (max-width: 980px) {
  .recommended__item_left {
    margin: 0px 0px 40px 0px;
  }
}

.recommended__left {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .recommended__left {
    margin: 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recommended__img {
  position: relative;
}

@media screen and (max-width: 768px) {
  .recommended__img {
    max-width: 262px;
  }
  .recommended__img img {
    width: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
}

.recommended__shopping-cart {
  cursor: pointer;
  z-index: 2;
  top: -8px;
  right: -8px;
  position: absolute;
  width: 18px;
  height: 18px;
}

.recommended__shopping-cart img {
  z-index: 3;
  position: relative;
}

.recommended__shopping-cart::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  padding: 10px;
  background: #fff;
  position: absolute;
  left: -12px;
  top: -12px;
  border-radius: 50%;
  border: 3px solid #f3f3f3;
}

.recommended__shopping-cart:hover::after {
  -webkit-box-shadow: 0px 0px 1px 3px rgba(219, 219, 219, 0.2);
          box-shadow: 0px 0px 1px 3px rgba(219, 219, 219, 0.2);
}

.recommended__right {
  max-width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .recommended__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recommended__product-title {
  margin-bottom: 5px;
}

.recommended__product-about {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .recommended__product-about {
    text-align: center;
  }
}

.recommended__product-price {
  margin-bottom: 5px;
}

.product-title {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #030d15;
}

.product-about {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
}

.product-price {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #030d15;
}

.product-price span {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}

.product-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-stars__item {
  display: inline-block;
  line-height: 16px;
}

.sales {
  padding-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .sales {
    display: block;
  }
}

.sales__item {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 555px;
          flex: 0 1 555px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .sales__item {
    height: 100%;
  }
}

.sales__item:hover {
  background: linear-gradient(257.26deg, #008bf0 -15.2%, #d943c9 110.95%);
}

.sales__item_left {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .sales__item_left {
    margin-right: 0px;
  }
}

.sales__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
}

.sales__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
}

.sales__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sales__sale-today {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f4f9fc;
  opacity: 0.6;
  margin-bottom: 10px;
}

.sales__product-title {
  font-weight: 600;
  font-size: 31px;
  line-height: 40px;
  color: #f4f9fc;
  margin-bottom: 10px;
}

.sales__show {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f4f9fc;
}

.about-for-products {
  padding-top: 111px;
  position: relative;
  z-index: 1;
}

.about-for-products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 980px) {
  .about-for-products__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-for-products__text {
  padding: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin-left: 100px;
}

@media screen and (max-width: 980px) {
  .about-for-products__text {
    margin: 0px 20px 0px 20px;
  }
}

.about-for-products__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .about-for-products__image {
    margin-bottom: 40px;
  }
}

.about-for-products__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-for-products__subtitle-red {
  margin-left: 3px;
  margin-bottom: 10px;
}

.about-for-products__subtitle-black {
  text-align: left;
}

.about-for-products__descrtiption {
  padding: 80px 0px 50px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #030d15;
  opacity: 0.6;
}

.about-for-products__features-item {
  margin-bottom: 20px;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  margin-left: 30px;
  color: #030d15;
  position: relative;
}

.about-for-products__features-item::before {
  content: url("../svg/check.svg");
  margin-top: 4px;
  position: absolute;
  left: -30px;
}

.about-for-products__background {
  margin-top: 150px;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 265px);
  background-color: #f4f9fc;
}

.popular-products {
  padding-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .popular-products:nth-child(1n + 5) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .popular-products__product-image {
    height: 180px;
  }
}

@media screen and (max-width: 980px) {
  .popular-products__product-image img {
    max-height: 160px;
  }
}

.popular-products__subtitle-red {
  margin-bottom: 10px;
}

.popular-products__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 36px 0px 40px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-products__navigation-item {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  margin: 0px 20px 0px 20px;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
  opacity: 0.6;
}

.popular-products__navigation-item:hover {
  color: #030d15;
  opacity: 1;
}

.popular-products__navigation-item_current {
  color: #c72535;
  opacity: 1;
}

.popular-products__products-container {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-products__view-all-button {
  margin-top: 40px;
  margin-left: 30px;
}

.products-item {
  cursor: pointer;
  padding: 20px;
  margin: 15px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(33.3333% - 30px);
  position: relative;
}

@media screen and (max-width: 768px) {
  .products-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 230px;
            flex: 1 1 230px;
  }
}

.products-item__overlay {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: auto;
  left: 0;
  bottom: 0px;
  background: #fafafa;
  width: 100%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.products-item__product-info {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-item__product-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.products-item__product-color {
  height: 14px;
  width: 14px;
  margin: 8px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.products-item__product-color:hover::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  top: -3px;
  left: -3px;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
}

.products-item__product-color_active::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  top: -3px;
  left: -3px;
  border-radius: 50%;
  border: 1px solid #858585;
}

@media screen and (min-width: 768px) {
  .products-item:hover {
    -webkit-box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
            box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
  }
}

@media screen and (min-width: 768px) {
  .products-item:hover .products-item__overlay {
    opacity: 1;
  }
}

.products-item__product-image {
  position: relative;
  display: block;
  height: 320px;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .products-item__product-image {
    height: 200px;
  }
}

.products-item__product-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 240px;
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 980px) {
  .products-item__product-image img {
    max-height: 180px;
  }
}

.products-item__overlay-icons {
  padding: 30px 20px;
}

.overlay-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overlay-icons__item {
  height: 14px;
  width: 14px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-icons__item img {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  z-index: 3;
}

.overlay-icons__item:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  padding: 12px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.overlay-icons_grey-hover .overlay-icons__item:hover::after {
  background: #f3f3f3;
}

.view-all-button {
  cursor: pointer;
  outline: none;
  border: 0;
  background: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #030d15;
}

.view-all-button::after {
  content: "\2192";
  margin-left: 10px;
  font-size: 23px;
}

.view-all-button:hover {
  color: #949494;
}

.new-products {
  padding-top: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-products__subtitle-red {
  text-align: center;
  margin-bottom: 10px;
}

.new-products__subtitle-black {
  margin-bottom: 10px;
}

.new-products__description {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #030d15;
  opacity: 0.6;
  max-width: 400px;
  margin-bottom: 30px;
}

.new-products__products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .new-products__products-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.new-products__left-section {
  margin: 0px 0px 0px -15px;
}

.new-products__right-section {
  margin: 0px -15px 0px 0px;
}

.new-products__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
  .new-products__section {
    margin: 0px -15px 0px -15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.new-products__products-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .new-products__products-item {
    height: 350px !important;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
}

@media screen and (min-width: 768px) {
  .new-products__products-item:hover {
    -webkit-box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07), 0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198), 0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275), 0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035), 0px 6.6501px 5.32008px rgba(192, 192, 192, 0.0282725), 0px 2.76726px 2.21381px rgba(192, 192, 192, 0.0196802);
            box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07), 0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198), 0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275), 0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035), 0px 6.6501px 5.32008px rgba(192, 192, 192, 0.0282725), 0px 2.76726px 2.21381px rgba(192, 192, 192, 0.0196802);
  }
}

@media screen and (min-width: 768px) {
  .new-products__products-item:hover .new-products__overlay-top {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .new-products__products-item:hover .new-products__overlay-bottom {
    opacity: 1;
  }
}

.new-products__products-item_hg252 {
  height: 252px;
}

@media screen and (max-width: 768px) {
  .new-products__products-item_hg252 {
    height: 252px;
  }
}

.new-products__products-item_hg330 {
  height: 330px;
}

@media screen and (max-width: 768px) {
  .new-products__products-item_hg330 {
    height: auto;
  }
}

.new-products__products-item_hg456 {
  height: 456px;
}

@media screen and (max-width: 768px) {
  .new-products__products-item_hg456 {
    height: auto;
  }
}

.new-products__overlay-top {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px 30px 0px;
}

.new-products__overlay-bottom {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.new-products__overlay-icons {
  padding: 10px 30px;
}

.new-products__products-image {
  height: calc(100% - 106px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-products__products-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.contact-us {
  padding: 130px 0px 0px 0px;
}

.contact-us__container {
  background: #f4f9fc;
  padding: 0px 20px 0px 20px;
}

.contact-us__wrap {
  padding: 100px 0px;
  margin: 0px auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .contact-us__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-us__left-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

@media screen and (max-width: 768px) {
  .contact-us__left-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.contact-us__subtitle-red {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .contact-us__subtitle-red {
    text-align: center;
  }
}

.contact-us__subtitle-black {
  text-align: left;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .contact-us__subtitle-black {
    text-align: center;
  }
}

.contact-us__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .contact-us__description {
    margin: auto;
    text-align: center;
  }
}

.contact-us__right-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact-us__right-section {
    padding: 0;
  }
}

.contact-us__input-field {
  font-family: Hind Siliguri;
  height: 50px;
  margin: 0px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #030d15;
  opacity: 1;
  padding-left: 30px;
  margin-bottom: 10px;
}

.contact-us__input-field:focus {
  outline: 1px solid #247cc0;
  height: 48px;
}

.contact-us__input-field::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.4;
}

.contact-us__input-field:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.4;
}

.contact-us__input-field::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.4;
}

.contact-us__input-field::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.4;
}

.contact-us__subscribe-button {
  margin-bottom: 10px;
}

.subscribe-button {
  cursor: pointer;
  outline: none;
  border: 0;
  width: 122px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  background: #247cc0;
  color: #ffffff;
}

.subscribe-button:hover {
  background: #3c89c5;
}

.footer {
  padding: 20px;
  background: #030d15;
}

.footer__wrap {
  padding: 50px 0px;
  margin: 0px auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 980px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

@media screen and (max-width: 980px) {
  .footer__column {
    margin-bottom: 30px;
  }
}

.footer__column_left {
  margin-right: 50px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.6;
}

.footer__section-header {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .footer__links-list {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.footer__links-list-item {
  width: 100%;
}

.footer__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  opacity: 0.6;
}

.footer__link:hover {
  opacity: 1;
}

.footer__company-link {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}

.footer__follow-us {
  margin-top: 20px;
}

.footer__follow-us .footer__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__follow-us .footer__links-list-item {
  margin-right: 20px;
}
