body {
    font-family: "Hind Siliguri", sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
#color-1 {
    background: #c3d7e6;
}
#color-2 {
    background: #000000;
}
#color-3 {
    background: #2f80ed;
}
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}
._container {
    padding: 0px 20px;
    margin: 0px auto;
    max-width: 1140px;
}
.page {
}

.subtitle-red {
    //padding-left: 10px;
    letter-spacing: 0.145em;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #c72535;
    opacity: 0.6;
}
.subtitle-black {
    font-weight: 600;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
    color: #030d15;
}
.subtitle-2 {
    display: inline-block;
    padding: 7px 10px;
    font-weight: 600;
    font-size: 41px;
    line-height: 41px;
    background: #dff1ff;
    color: #247cc0;
}
.subtitle-3 {
    padding: 0px 10px;
    font-weight: 400;
    font-size: 41px;
    line-height: 53px;
}

//--------<HEADER>---------

.dropdown {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    margin-left: 20px;
    @media screen and (max-width: 768px) {
        margin: 0px auto 30px auto;
        width: 160px;
        display: flex;
        flex-direction: column;
    }
    &__dropbtn {
        color: #030d15;
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        background-color: #ffffff;
        border: none;
        cursor: pointer;
        & img {
            margin-bottom: 3px;
            margin-left: 8px;
        }
    }
    &__content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 3;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgb(241, 241, 241);
        & a {
            color: #030d15;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            line-height: 23px;
        }
        @media screen and (max-width: 768px) {
            position: relative;
            box-shadow: none;
            & a {
                text-align: center;
            }
        }
    }
    &:hover & {
        @media screen and (min-width: 768px) {
            &__content {
                display: block;
                & a {
                    color: black;
                }
            }
            &__dropbtn {
                //border-bottom: 1px solid #030d15;
                & img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
        flex: 1 0 0;
    }
}
.ico-button {
    margin-left: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header {
    position: relative;
    padding: 0px 20px;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    height: 90px;
    width: auto;
    width: calc(100% - 40px);
    &__logo {
        cursor: pointer;
        @media screen and (max-width: 768px) {
            justify-content: flex-start;
        }
    }
    &__menu {
        display: flex;
        @media screen and (max-width: 768px) {
            background-color: #fff;
            z-index: 2;
            margin: 0px;
            top: 90px;
            left: 0;
            position: fixed;
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            overflow: auto;
            height: calc(100vh - 90px);
            //transform: translateY(calc(-100vh));
            transition: all 0.5s;
        }
        &_active {
            @media screen and (max-width: 768px) {
                opacity: 1;
                transition: all 0.5s;
                visibility: visible;
            }
        }
    }
    &__mid-section {
        position: relative;
        flex: 1 0 0;
        margin: 0px 30px;
        @media screen and (max-width: 768px) {
            position: unset;
            flex: 0 1 0;
            margin: 0;
        }
    }
    &__search-box {
        display: flex;
        flex: 1 0 0;
    }
    &__search-input {
        padding-bottom: 4px;
        width: 100%;
        outline: none;
        font-family: Hind Siliguri;
        font-size: 14px;
        line-height: 15px;
        font-weight: 500;
        border: 0;
        border-bottom: 1px solid black;
    }
    &__searchbar {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 50px;
        visibility: visible;
        transition: width 0.4s;
        @media screen and (max-width: 768px) {
            top: 70px;
            width: calc(100% - 40px) !important;
            transition: visibility 0.1s;
            transition-delay: 0.2s;
            padding: 0px 20px 0px 20px;
        }
        &_inactive {
            width: 0%;
            visibility: hidden;
            @media screen and (max-width: 768px) {
                transition: visibility 0s;
                transition-delay: 0s;
            }
        }
    }
    &__service {
        @media screen and (max-width: 768px) {
            justify-content: flex-end;
        }
    }
    &__search-ico {
        margin: 0;
    }
    &__shopping-cart {
        margin-top: 3px;
        display: flex;
        position: relative;
    }
    &__user-ico {
        height: 16px;
        width: 14px;
        margin: auto;
    }
    &__user {
        display: flex;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        background-color: #f4f9fc;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__user-mob {
        display: none;
        @media screen and (max-width: 768px) {
            margin: 0px auto 30px auto;
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            & a {
                text-decoration: none;
                color: #030d15;
            }
        }
    }
    &__shopping-ico {
        height: 18px;
        width: 18px;
    }
    &__counter {
        left: 10px;
        top: -7px;
        margin: 0;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #fff;
        font-size: 10px;
        height: 6px;
        width: 6px;
        padding: 5px;
        border-radius: 50%;
        background-color: #c72535;
    }
    &__burger-btn {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}

//--------</HEADER>---------

//-------<ABOUT-SHOP>-------
.about-shop {
    padding-top: 54px;
    display: flex;
    @media screen and (max-width: 980px) {
        flex-direction: column;
    }
    &__text {
        display: flex;
        flex: 1 0 0;
        margin-right: 25px;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 980px) {
            margin-right: 0;
        }
    }
    &__image {
        flex: 1 0 0;
        & img {
            width: 100%;
            margin-bottom: -8px;
            object-fit: contain;
        }
    }
    &__title {
        display: block;
        @media screen and (max-width: 980px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__description {
        margin-top: 20px;
        padding: 0px 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #030d15;
        opacity: 0.6;
    }

    &__shop-now {
        display: flex;
        margin-top: 20px;
        align-items: center;
        padding: 0px 10px;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            margin: 40px 0px 20px 0px;
        }
    }
    &__blue-button {
    }
    &__price-product {
        margin-left: 20px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #030d15;
        @media screen and (max-width: 768px) {
            margin: 10px 0px 0px 0px;
        }
        & span {
            margin-left: 20px;
            font-weight: 300;
            font-size: 16px;
            line-height: 27px;
            text-align: center;
            text-decoration-line: line-through;
            color: #030d15;
            opacity: 0.5;
        }
    }
    &__subtitle-red {
        padding-left: 10px;
    }
    &__subtitle {
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}
.blue-button {
    cursor: pointer;
    outline: none;
    border: 0;
    width: 151px;
    height: 58px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    background: #247cc0;
    color: #ffffff;
    &:hover {
        background: #3c89c5;
        border: 1px solid#ffffff;
    }
}
//-------</ABOUT-SHOP>-------

//-----<FAVORITE-BRANDS------
.favorite-brands {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    min-height: 238px;
    left: 230px;
    top: 718px;
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083),
        0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04),
        0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
    border-radius: 0px;

    &__item {
        display: flex;
        flex: 1 0 0;
        justify-content: center;
        align-items: center;
        & img {
            padding: 15px;
            object-fit: scale-down;
            transition: 0.3s;
            &:hover {
                transform: scale(1.08);
            }
        }
    }
}
//-----</FAVORITE-BRARNDS-----

//-------<RECOMMENDED>-------
.recommended {
    padding-top: 113px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 980px) {
        flex-direction: column;
        align-items: center;
    }
    &__item {
        display: flex;
        flex: 1 0 0;
        height: 248px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            height: auto;
        }
        @media screen and (max-width: 980px) {
            max-width: 580px;
        }
        &_left {
            margin-right: 25px;
            @media screen and (max-width: 980px) {
                margin: 0px 0px 40px 0px;
            }
        }
    }

    &__left {
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            margin: 0px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__img {
        position: relative;
        @media screen and (max-width: 768px) {
            max-width: 262px;
            & img {
                width: 100%;
                object-fit: scale-down;
            }
        }
    }

    &__shopping-cart {
        cursor: pointer;
        z-index: 2;
        top: -8px;
        right: -8px;
        position: absolute;
        width: 18px;
        height: 18px;
        & img {
            z-index: 3;
            position: relative;
            // object-fit: cover;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            z-index: 2;
            padding: 10px;
            background: #fff;
            position: absolute;
            left: -12px;
            top: -12px;
            border-radius: 50%;
            border: 3px solid #f3f3f3;
        }
        &:hover {
            & img {
                //zoom: 1.05;
            }
            &::after {
                box-shadow: 0px 0px 1px 3px rgba(219, 219, 219, 0.2);
            }
        }
    }

    &__right {
        max-width: 262px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 768px) {
            align-items: center;
            justify-content: center;
        }
    }

    &__product-title {
        margin-bottom: 5px;
    }

    &__product-about {
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__product-price {
        margin-bottom: 5px;
    }

    &__rating-stars {
    }
}
.product-title {
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #030d15;
}
.product-about {
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #030d15;

    opacity: 0.6;
}
.product-price {
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #030d15;
    & span {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        text-decoration-line: line-through;
        color: #030d15;
        opacity: 0.5;
    }
}
.product-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__item {
        display: inline-block;
        line-height: 16px;
    }
}
//-------</RECOMMENDED>-------

//-------<SALES>-------
.sales {
    padding-top: 160px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
        display: block;
    }
    &__item {
        cursor: pointer;
        flex: 0 1 555px;
        flex-wrap: wrap;
        position: relative;
        background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: flex;
        padding: 30px;
        align-items: center;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
            height: 100%;
        }
        &:hover {
            background: linear-gradient(257.26deg, #008bf0 -15.2%, #d943c9 110.95%);
        }
        &_left {
            margin-right: 30px;
            @media screen and (max-width: 768px) {
                margin-right: 0px;
            }
        }
    }

    &__text {
        flex: 1 0 200px;
    }
    &__img {
        flex: 1 0 200px;
        //position: absolute;
        //right: 0;
        & img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__sale-today {
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        text-transform: uppercase;
        color: #f4f9fc;
        opacity: 0.6;
        margin-bottom: 10px;
    }

    &__product-title {
        font-weight: 600;
        font-size: 31px;
        line-height: 40px;
        color: #f4f9fc;
        margin-bottom: 10px;
    }

    &__show {
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        color: #f4f9fc;
    }
}

//-------</SALES>-------

//-------<ABOUT-FOR-PRODUCTS>-------
.about-for-products {
    padding-top: 111px;
    position: relative;
    z-index: 1;
    &__container {
        display: flex;
        @media screen and (max-width: 980px) {
            flex-direction: column;
        }
    }
    &__text {
        padding: 40px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        margin-left: 100px;
        //justify-content: center;
        @media screen and (max-width: 980px) {
            margin: 0px 20px 0px 20px;
        }
    }
    &__image {
        display: flex;
        //justify-content: center;
        flex: 1 0 0;
        height: 100%;
        @media screen and (max-width: 980px) {
            margin-bottom: 40px;
        }
        & img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__subtitle-red {
        margin-left: 3px;
        margin-bottom: 10px;
    }

    &__subtitle-black {
        text-align: left;
    }

    &__descrtiption {
        padding: 80px 0px 50px 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #030d15;
        opacity: 0.6;
    }

    &__features {
    }

    &__features-item {
        margin-bottom: 20px;

        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        margin-left: 30px;
        color: #030d15;
        position: relative;
        &::before {
            content: url("svg/check.svg");
            margin-top: 4px;
            position: absolute;
            left: -30px;
        }
    }
    &__background {
        margin-top: 150px;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: calc(100% - 265px);
        background-color: #f4f9fc;
    }
}
//-------</ABOUT-FOR-PRODUCTS>------

//-------<POPULAR PRODUCTS>-------

.popular-products {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 768px) {
        &:nth-child(1n + 5) {
            display: none;
        }
    }
    &__product-image {
        @media screen and (max-width: 980px) {
            height: 180px;
        }
        @media screen and (max-width: 980px) {
            & img {
                max-height: 160px;
            }
        }
    }
    &__subtitle-red {
        margin-bottom: 10px;
    }

    &__navigation {
        width: 100%;
        display: flex;
        margin: 36px 0px 40px 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__navigation-item {
        text-align: center;
        flex: 0 0 120px;
        margin: 0px 20px 0px 20px;
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        text-transform: uppercase;
        color: #030d15;
        opacity: 0.6;
        &:hover {
            color: #030d15;
            opacity: 1;
            //border-bottom: 1px solid #030d15;
            //margin-bottom: -2px;
        }
    }
    &__navigation-item_current {
        color: #c72535;
        opacity: 1;
    }
    &__products-container {
        margin: -15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__product-about {
    }
    &__view-all-button {
        margin-top: 40px;
        margin-left: 30px;
    }
    &__subtitle-black {
    }
}

.products-item {
    cursor: pointer;
    padding: 20px;
    margin: 15px;
    //height: 503px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: calc(33.3333% - 30px);
    position: relative;
    @media screen and (max-width: 768px) {
        flex: 1 1 230px;
    }
    &__overlay {
        cursor: default;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: auto;
        left: 0;
        bottom: 0px;
        background: #fafafa;
        width: 100%;
        z-index: 2;
        opacity: 0;
        transition: all 0.3s;
    }

    &__product-info {
        padding: 20px;
        //padding: 20px;
        flex: 1 0 0;
        display: flex;
    }

    &__product-about-overlay {
    }
    &__product-colors {
        display: flex;
        flex: 1 0 0;
        align-items: center;
        justify-content: flex-end;
    }

    &__product-color {
        height: 14px;
        width: 14px;
        margin: 8px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &:hover {
            &::after {
                content: "";
                position: absolute;
                height: 18px;
                width: 18px;
                top: -3px;
                left: -3px;
                border-radius: 50%;
                border: 1px solid #b4b4b4;
            }
        }
    }
    &__product-color_active {
        &::after {
            content: "";
            position: absolute;
            height: 18px;
            width: 18px;
            top: -3px;
            left: -3px;
            border-radius: 50%;
            border: 1px solid #858585;
        }
    }

    &:hover {
        @media screen and (min-width: 768px) {
            box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198),
                0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275),
                0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035),
                0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725),
                0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
        }
    }
    &:hover & {
        &__overlay {
            @media screen and (min-width: 768px) {
                opacity: 1;
            }
        }
    }
    &__product-sale {
    }

    &__product-image {
        position: relative;
        display: block;
        height: 320px;
        margin-bottom: 16px;
        text-align: center;
        @media screen and (max-width: 980px) {
            height: 200px;
        }
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 240px;
            max-width: 100%;
            vertical-align: middle;

            @media screen and (max-width: 980px) {
                max-height: 180px;
            }
        }
    }
    &__overlay-icons {
        padding: 30px 20px;
    }
}
.overlay-icons {
    display: flex;
    align-items: center;
    //padding: 20px;
    justify-content: space-between;
    &__item {
        height: 14px;
        width: 14px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            height: 20px;
            width: 20px;
            object-fit: contain;
            position: absolute;
            z-index: 3;
        }
        &:hover {
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                z-index: 2;
                padding: 12px;
                background: #fff;
                position: absolute;
                border-radius: 50%;
            }
        }
    }
    &_grey-hover & {
        &__item {
            & img {
            }
            &:hover {
                &::after {
                    background: rgb(243, 243, 243);
                }
            }
        }
    }
}

.view-all-button {
    cursor: pointer;
    outline: none;
    border: 0;
    background: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #030d15;
    &::after {
        content: "\2192";
        margin-left: 10px;
        font-size: 23px;
    }
    &:hover {
        color: #949494;
    }
}
//-------</POPULAR PRODUCTS>-------

//---------<NEW PRODUCTS>----------
.new-products {
    padding-top: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__subtitle-red {
        text-align: center;
        margin-bottom: 10px;
    }

    &__subtitle-black {
        margin-bottom: 10px;
    }

    &__description {
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #030d15;
        opacity: 0.6;
        max-width: 400px;
        margin-bottom: 30px;
    }
    &__products-container {
        display: flex;
        //flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__left-section {
        margin: 0px 0px 0px -15px;
    }
    &__mid-section {
    }
    &__right-section {
        margin: 0px -15px 0px 0px;
    }
    &__section {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        @media screen and (max-width: 768px) {
            margin: 0px -15px 0px -15px;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__products-item {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        margin: 15px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            height: 350px !important;
            flex: 1 0 200px;
        }
        @media screen and (min-width: 768px) {
            &:hover {
                box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07),
                    0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198),
                    0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275),
                    0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035),
                    0px 6.6501px 5.32008px rgba(192, 192, 192, 0.0282725),
                    0px 2.76726px 2.21381px rgba(192, 192, 192, 0.0196802);
            }
        }
    }

    &__products-item:hover & {
        &__overlay-top {
            @media screen and (min-width: 768px) {
                opacity: 1;
            }
        }

        &__overlay-bottom {
            @media screen and (min-width: 768px) {
                opacity: 1;
            }
        }
    }
    &__products-item_hg252 {
        @media screen and (max-width: 768px) {
            height: 252px;
        }
        height: 252px;
    }
    &__products-item_hg330 {
        @media screen and (max-width: 768px) {
            height: auto;
        }
        height: 330px;
    }
    &__products-item_hg456 {
        @media screen and (max-width: 768px) {
            height: auto;
        }
        height: 456px;
    }

    &__overlay-top {
        opacity: 0;
        transition: all 0.2s;
        //flex: 0 0 50px;
        padding: 10px 30px 0px;
    }

    &__overlay-bottom {
        opacity: 0;
        transition: all 0.2s;
        //width: 100%;
        flex: 0 0 50px;
    }
    &__overlay-icons {
        padding: 10px 30px;
    }
    &__products-image {
        height: calc(100% - 106px);
        display: flex;
        & img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}
//---------</NEW PRODUCTS>----------

//----------<CONTACT US>------------
.contact-us {
    padding: 130px 0px 0px 0px;
    //width: 100%;

    &__container {
        background: #f4f9fc;
        padding: 0px 20px 0px 20px;
    }
    &__wrap {
        padding: 100px 0px;
        margin: 0px auto;
        max-width: 1140px;
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__left-section {
        flex: 1 0 0;
        @media screen and (max-width: 768px) {
            justify-content: center;
            margin-bottom: 30px;
        }
    }

    &__subtitle-red {
        margin-bottom: 5px;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__subtitle-black {
        text-align: left;
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 25px;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__description {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #030d15;
        opacity: 0.6;
        max-width: 300px;
        @media screen and (max-width: 768px) {
            margin: auto;
            text-align: center;
        }
    }

    &__right-section {
        flex: 1 0 0;
        display: flex;
        align-items: center;
        padding-left: 80px;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }

    &__input-field {
        font-family: Hind Siliguri;
        height: 50px;
        margin: 0px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        flex: 1 0 200px;
        width: 100%;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #030d15;
        opacity: 1;
        padding-left: 30px;
        margin-bottom: 10px;
        &:focus {
            outline: 1px solid #247cc0;
            height: 48px;
        }
        &::placeholder {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            //color: #030d15;
            opacity: 0.4;
        }
    }

    &__subscribe-button {
        margin-bottom: 10px;
    }
}
//----------</CONTACT US>------------

.subscribe-button {
    cursor: pointer;
    outline: none;
    border: 0;
    width: 122px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    background: #247cc0;
    color: #ffffff;
    &:hover {
        background: #3c89c5;
        //border: 1px solid#ffffff;
    }
}

//------------<FOOTER>-------------
.footer {
    padding: 20px;
    background: #030d15;
    &__wrap {
        padding: 50px 0px;
        margin: 0px auto;
        max-width: 1140px;
        display: flex;
        @media screen and (max-width: 980px) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 1 0 0;
        @media screen and (max-width: 980px) {
            margin-bottom: 30px;
        }
        &_left {
            margin-right: 50px;
        }

        &_right {
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__description {
        font-weight: 300;
        font-size: 14px;
        line-height: 23px;
        color: #ffffff;
        opacity: 0.6;
    }

    &__section-header {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__links-list {
        @media screen and (max-width: 980px) {
            column-count: 2;
            column-gap: 20px;
        }
    }

    &__links-list-item {
        width: 100%;
    }
    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 40px;
        color: #ffffff;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
    &__company-link {
        font-family: Hind Siliguri;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        color: #ffffff;
    }

    &__follow-us {
        margin-top: 20px;
    }
    &__follow-us & {
        &__links-list {
            display: flex;
        }
        &__links-list-item {
            margin-right: 20px;
        }
    }

    &__choose-language {
    }
}
//------------</FOOTER>-------------
